footer{
   background-color: $mainColor;

   a:hover{
      border-radius: 0.5rem;
      color: $mainColor;
     outline: solid 0.12rem;
     border-color: $mainColor;
     box-shadow: 0 0 1rem rgba(240, 100, 0, 0.598);
     filter: brightness(1);
   }
   
    
}

$redes:(
   instagram: rgb(255, 0, 98),
   facebook: rgb(38, 0, 255),
   twitter: rgba(0, 208, 255, 0.959),
   whatsapp: rgb(17, 182, 17)

);

@each $redsocial,$colorred in $redes{
   .red-#{$redsocial} {
      color: $colorred;
   }

}
