footer{
   background-color: $mainColor;
   

      a{
         border-radius: 0.5rem;
      }

   a:hover{
      border-radius: 0.5rem;
      color: $mainColor;
     outline: solid 0.12rem;
     border-color: $mainColor;
     box-shadow: 0 0 1rem rgba(240, 100, 0, 0.598);
     filter: brightness(1);
   }
   
   $redes:(
   instagram: rgb(225, 9, 59),
   facebook: rgb(22, 57, 253),
   twitter: rgba(0, 153, 255, 0.98),
   whatsapp: rgb(9, 169, 9)

);

@each $redsocial,$colorred in $redes{
   .red-#{$redsocial} {
      background-color: $colorred;
   }

}

    
}

