@media (max-width:1023px){
   .grid {
      background-color: rgb(74, 74, 74);
      min-height: 100vh;
   
   
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 3fr 1fr 1fr 1fr 1fr 0.1fr;
   
      grid-template-areas:
            "head head"
            "logo logo"
            "zapatillas zapatillas"
            "hoddies hoddies"
            "remeras remeras"
            "acces acces"
            "footer footer";
          gap: 0.1rem;

   }
      .grid a{
         color: $mainColor;
         border-radius: 0.5rem;
         outline: solid 0.12rem;
         border-color: $mainColor; 
         filter: brightness(1);

      }

}