@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@300&family=Tektur:wght@500&display=swap');

$fontTektur: "Tektur", cursive;
$mainColor:rgb(255, 51, 0);
$seconColor: rgb(255, 255, 255);